@{
    Layout = null;
}


<!DOCTYPE html>
<html class="">
<head>
    <title>Soul Soles</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" />

    <link rel="stylesheet" href="~/assets/css/style.css" media="all" />
    <link href="https://fonts.googleapis.com/css?family=Abel|Raleway:400,400i,700" rel="stylesheet">

</head>
<body class="">
    @RenderBody()
</body>
</html>
